---
import Layout from '../layouts/Layout.astro'
---

<Layout
    title='Pagina no Encontrada | Error 404'
>
<div class="text-center text-white">
    <div>
        <img src="/img/404.webp" class="w-2/6 m-auto" alt="error 404">
    </div>
    <div class="text-4xl">
        <h2>
            Pagina no Encontrada
        </h2>
    </div>
    <div class="mt-10">
        <a href="/" class="text-red-700 hover:border-red-700">Ir al Inicio</a>
    </div>
</div>

</Layout>