---

import Layout from '../layouts/Layout.astro';
import Bienvenido from '../components/Bienvenido.astro'
import SobreMi from '../components/SobreMi.astro'
import Contacto from '../components/Contacto.astro'
import Blog from '../components/Blog.astro'
import Ahora from '../components/Ahora.astro'
import Proyectos from '../components/Proyectos.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Bienvenidos a mi Porfolio">
	
	<main transition:animate="fade" class="xl:py-20 px-3 pt-2 m-auto xl:px-44 xl:grid overflow-auto xl:grid-cols-4 xl:grid-rows-8 xl:h-screen xl:gap-5 text-white lg:overflow-hidden">
			<Bienvenido />
			<SobreMi />
			<Contacto />
			<Blog />
			<Ahora />
			<Proyectos />
			<Footer />
	</main>

</Layout>







