<div class="mb-2 bg-[#171717] lg:col-start-2 lg:row-start-7 lg:row-span-2 rounded-lg p-6 border-[1px] border-gray-600 hover:border-red-700 hover:transition hover:duration-300 grid grid-cols-[2fr_10px] animate-slide-in sombra">
    <div class="w-3/4 space-y-3">
        <h2 class="text-sm 2xl:text-xl">
            Ahora
        </h2>
        <h3 class="text-sm 2xl:text-lg">
            Actualmente trabajo como freelance
        </h3>
    </div>
    <div>
        <span class="relative flex h-3 w-3">
            <span
              class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
            ></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"></span>
          </span>
    </div>
</div>