<div class="mb-2 bg-[#171717] lg:col-start-2 p-5 lg:col-span-2 lg:row-start-5 row-span-2 rounded-lg border-[1px] border-gray-600 hover:border-red-700 hover:transition hover:duration-300 animate-slide-in sombra">
    <div class="">
        <div>
            <p class="w-3/4 text-ellipsis line-clamp-3 text-sm 2xl:text-xl">
                “Descubre mi Blog, Un espacio donde podras explorar noticias, experiencias y conocimientos sobre una variedad de temas relacionados al mundo del desarrollo. Desde las últimas tendencias hasta consejos prácticos, el blog está lleno de contenido interesante y útil. ¡Haz clic aquí para sumergirte en la lectura!”
            </p>
        </div>
    </div>
    <div class="mt-5 xl:mt-0 flex justify-end">
        <a href="/blog" target="_blank" class="py-1 px-4 2xl:px-8 border-[1px] border-gray-600 hover:text-red-700 hover:border-red-700 hover:transition hover:duration-500">
            Leer
        </a>
    </div>    
    
</div>
