<div class="mb-2 text-sm 2xl:text-xl bg-[#171717] lg:col-span-1 lg:row-span-4 rounded-lg p-6 space-y-5 border-[1px] border-gray-600 hover:border-red-700 hover:transition hover:duration-300 animate-slide-in sombra">
    <div>
        <h2>
            Empecemos a trabajar en tu proyecto.
        </h2>
    </div>
    <div>
        <h3 class="mb-2 italic">
            Contacto
        </h3>
        <div class="space-y-1 2xl:text-lg">
            <p>
                ginfeu.enrique@gmail.com
            </p>
            <p>
                Buenos Aires - Argentina
            </p>
        </div>
    </div>
    <div>
        <h3 class="xl:mb-3 italic">
            Redes Sociales
        </h3>
        <div class="xl:space-y-1 2xl:text-lg">
            <li class="list-none">
                <a href="https://www.linkedin.com/in/ginfeu-enrique" target="_blank" class="hover:text-red-700 hover:transition hover:duration-300">
                    Linkedin
                </a>
            </li>
            <li class="list-none">
                <a href="https://github.com/enriqueginfeu" target="_blank" class="hover:text-red-700 hover:transition hover:duration-300">
                    GitHub
                </a>
            </li>
            <li class="list-none">
                <a href="https://www.instagram.com/enrique_ginfeu" target="_blank" class="hover:text-red-700 hover:transition hover:duration-300">
                    Instagram
                </a>
            </li>
        </div>
    </div>
</div>