<div class="mb-2 bg-[#171717] lg:row-span-6 rounded-lg p-6 space-y-5 border-[1px] border-gray-600 hover:border-red-700 hover:transition hover:duration-300 animate-slide-in sombra">
    <div class="">
        <h2 class="text-sm 2xl:text-xl mb-3">
            Sobre mi
        </h2>
        <h3 class="text-sm 2xl:text-lg">
            Hola, soy Enrique, un desarrollador Web front-end de Argentina.
            Mis principales herramientas de elección incluyen:
        </h3>
    </div>
    <div class="text-sm 2xl:text-lg">
        <li>JavaScript</li>
        <li>React Js</li>
        <li>Astro</li>
        <li>Next Js</li>
        <li>Tailwind CSS</li>
    </div>
    <div>
        <p class="text-sm 2xl:text-lg">
            Si bien tengo algunas herramientas preferidas, siempre elijo la mejor para el trabajo, incluso si no está en mi lista habitual. Mi objetivo es encontrar la solución adecuada
        </p>
    </div>
</div>